// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
$primary:rgb(231, 218, 231);
$primary-1:rgba(255, 255, 255, 1);
$primary-opacity-8:rgba(255, 255, 255, 0.8);
$primary-opacity-5:rgba(255, 255, 255, 0.5);
$transparant:rgba(255, 255, 255, 0);
$gray:rgba(0, 0, 0, 0.5);
$sale: rgba(167, 4, 4, 0.8);
$headings-font-family: 'Nunito',sans-serif;
$headings-font-weight: 800;
$font-family-base:'Poppins',sans-serif;

$theme-colors:(
    "primary" : $primary,
    "primary-1":$primary-1,
    "primary-opacity-8":$primary-opacity-8,
    "primary-opacity-5":$primary-opacity-5,
    "gray": $gray,
    "sale": $sale,
    "transparant":$transparant,
);
//create your own map
$custom-color:(
    "icon-background":rgba(127, 24, 127, 0.2)
);

//Merge maps
$theme-colors:map-merge($theme-colors, $custom-color);


$utilities:(
    "rounder":(
        property:border-radius,
        class:rounded,
        values:(
            null:1rem,
            cirdle:50%
        )
    )
);

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here


/****HEADER BRAND******/
.navbar{
    a{
        color: $gray;
        text-decoration: none;
    }
    .navbar-cart-landing{
        color: $primary-1;
        border: 0.5px solid $primary-opacity-5;
        border-radius: 0.3rem;
        background-color: $transparant;
        opacity: 0.4;
        a{
            color: $primary-1
        }

    }

    .navbar-cart {
        border-radius: 0.3rem;
        background-color: $transparant;
    }
}

a.navbar-brand{
    margin: 0 1rem 0 1rem ;
}
/****HEADER MAIN MENU******/

a.nav-link{
    margin: 0 1rem;
}




/******FRONT PAGE********/
.carousel{
 
    /**original*/
    position: fixed;
    height: 100%;
    bottom: 0;
    right: 0;
    
    z-index: -1;
    
    @include media-breakpoint-down(md) { 
        transform:scale(2);
        
    }
    
    @include media-breakpoint-up(xl) { 
        transform:translate(0%,-130%);
    }

   

    .carousel-control-prev, .carousel-control-next{
        width: 9%;   
    }
}   
/******PAGE********/
.entry-header{
    display: none;
}








