// Custom.scss
// Option A: Include all of Bootstrap
// Include any default variable overrides here (though functions won't be available)
$primary:rgb(231, 218, 231);
$primary-1:rgba(255, 255, 255, 1);
$primary-opacity-8:rgba(255, 255, 255, 0.8);
$primary-opacity-5:rgba(0, 0, 0, 0.8);
$gray:rgba(255, 250, 250, 0.8);
$sale: rgba(167, 4, 4, 0.8);
$headings-font-family: 'Nunito',sans-serif;
$headings-font-weight: 800;
$font-family-base:'Poppins',sans-serif;

$theme-colors:(
    "primary" : $primary,
    "primary-1":$primary-1,
    "primary-opacity-8":$primary-opacity-8,
    "gray": $gray,
    "sale": $sale,
);
//create your own map
$custom-color:(
    "icon-background":rgba(127, 24, 127, 0.2)
);

//Merge maps
$theme-colors:map-merge($theme-colors, $custom-color);


$utilities:(
    "rounder":(
        property:border-radius,
        class:rounded,
        values:(
            null:1rem,
            cirdle:50%
        )
    )
);

@import "./bootstrap/scss/bootstrap";

// Then add additional custom code here


/****HEADER MAIN MENU******/
a.navbar-brand{
    margin-right:2rem;
}
a.nav-link{
    margin: 0 1rem;
}

.navbar.landing{
    a{
        color:$primary;  
    }
}

/****LANDING HEADER MAIN MENU******/
.dropdown-item.active, .dropdown-item:active {
    color: rgba(0,0,0,0.55);
    text-decoration: none;
    background-color: white; 
}

// .main-navigation.page{
//     font-weight:600;
//     border-bottom:1px solid var(--bs-gray);
//     box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

//     .current-menu-item {
//         text-decoration: underline;
//     }
//     a{  
//         text-transform: uppercase;
//         color:var(--bs-dark);
//         padding: 1rem 1.5rem;
//         font-size:$font-size-sm;
//     }
//     a:hover{
//         text-decoration: underline;
//     }
//     .menu-toggle{
//         font-weight:600;
//         color: (--bs-dark);
//         border:none;
//         background: none;
//     }
//     .sub-menu{
//         background-color: $primary-opacity-8;
//         border-radius: 5px;
//         li{   

//            a{   
//                padding: 0;
//                width: 118px;
//            }
//         }
//     }


// }

/******FRONT PAGE********/
.carousel{
 
    /**original*/
    position: fixed;
    height: 100%;
    bottom: 0;
    right: 0;
    
    z-index: -1;
    
    @include media-breakpoint-down(md) { 
        transform:scale(2);
        
    }
    
    @include media-breakpoint-up(xl) { 
        transform:translate(0%,-130%);
    }

   

    .carousel-control-prev, .carousel-control-next{
        width: 9%;   
    }
}   
/******PAGE********/
.entry-header{
    display: none;
}

/******CATAGORIES********/
.categories{
    background-color: #F9F9F9;
    
    .categories__col{
        height:212px;
        
        img{
            width:100%;
            object-fit:cover;
        }
    }
    
    @include media-breakpoint-down(md){
        .categories__col{
            height:336px;
        }
    }
}

/******FOOTER********/
.site-footer{
    .menu{
        margin:0;
        padding:0;
        list-style-type:none;

        a{
            color:$primary-1;
            text-decoration: none;
            display: block;
            padding:0.3rem 0;
        }
        p{
            color:$primary-1; 
        }

        a:hover{text-decoration:underline}
    }
}




